### Objective
To use sklearn Naive Bayes classifer.<br>
Dataset: Use diabetes dataset provided herewith.

In [8]:
import pandas as pd
import numpy as np

In [9]:
# Load the iris dataset
df = pd.read_csv('diabetes-dataset.csv')
df.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [10]:
print(type(df))
# Notice the type of 'data'

<class 'pandas.core.frame.DataFrame'>

In [11]:
X = df.drop('diabetes',axis=1)

In [12]:
X

     glucose  bloodpressure
0         40             85
1         40             92
2         45             63
3         45             80
4         40             73
..       ...            ...
990       45             87
991       40             83
992       40             83
993       40             60
994       45             82

[995 rows x 2 columns]

In [13]:
y = df['diabetes']
y

0      0
1      0
2      1
3      0
4      1
      ..
990    0
991    0
992    0
993    1
994    0
Name: diabetes, Length: 995, dtype: int64

In [14]:
# Split data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=1)  # experiment with different random_state values

In [15]:
X_train.shape

(746, 2)

In [16]:
X_test.shape

(249, 2)

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

# Train 'model' on our dataset
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
# Use the trained 'model' for prediction
y_predict = model.predict(X_test)

In [19]:
y_predict     # predicted labels

array([1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [20]:
y_test        # actual lables

358    1
607    0
808    1
915    1
242    1
      ..
590    0
389    0
885    0
664    1
135    1
Name: diabetes, Length: 249, dtype: int64

In [21]:
# Compute accuracy

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_predict)
print("Accuracy = ", accuracy)

Accuracy =  0.9477911646586346

In [22]:
# Exercise:

# Predict class lable for a new data point.
X_dash = [45,70]

# predict